@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Poppins" ,sans-serif;
}

.navbar {
    background-color: #1f2937;
    color: #f9faf8;
    padding: 0 50px;
    min-height: 65px;
}

.navbar .logo {
    font-size: x-large;
    font-weight: bold;
}
.navbar a {
    text-decoration: none;
    color: #e5e7eb;
    font-weight: bold;
    font-size: 17px;
}

.navbar ul{
    list-style: none;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}
.navbar ul li {
    margin-left: 12px;
}
.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    flex-wrap: wrap;
}

.header {
    background-color: #1f2937;
    color: #f9faf8;
    min-height: 400px;
    padding: 0 50px;
}

.header h1 {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.1;
  padding-top: 20px;
}
.header .container{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    gap: 60px;
    flex-wrap: wrap;

}
.header .slogan{
    max-width: 50%;
}



.header .image img{
    max-width: 450px;
    border-radius: 12px;
    box-shadow: 0 8px 20px #1f2937;
    padding-top: 30px;
}
.header button {
    background-color: #3882f6;
    padding: 8px;
    color: #fff;
    border-radius: 8px;
    font-weight: bold;
    font-size: 14px;
}
.header p {
    padding: 12px 0;
}

.information {
    min-height: 450px;
    padding: 12px;
}
.information h1{
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    text-align: center;
    padding: 16px 0;
}
.information .image{
    height: 150px;
    width: 200px;
    border-radius: 8px;
    border: #3882f6;
    padding-bottom: 12px;
}
.information .image img{
    
    height: 100%;
    width: 100%;
    border-radius: 10px;
    border: 3px solid #3882f6 ;

    
}
.information .container {
    display: flex;
    align-items: center;
    justify-self: center;
    gap:16px;
    padding: 0 16px;
    width: 80%;
    flex-wrap: wrap;
}

.information h2{
    font-size: 20px;
}
.information .info {
    text-align: center;
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    flex: 1;

}

.testimonial{
    background-color: #e5e7eb;
    font-size: 36px;
    font-weight: 300;
    color: #1f2937;
    min-height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.testimonial .container {
    width: 60%;
}
.testimonial .client-name {
    text-align: end;
    font-weight: bold;
    font-size: 34px;
}
.call-to-action{
    min-height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.call-to-action .container {
    background-color: #3882f6;
    color: #fff;
    height: 55%;
    width: 70%;
    display: flex;
    padding: 12px 24px;
    gap: 20px;
    border-radius: 8px;
    justify-content: space-evenly;
    align-items: center;
}
.call-to-action button {
    background-color: #3882f6;
    border: 1px solid #fff;
    padding: 8px;
    color: #fff;
    border-radius: 8px;
    font-weight: bold;
    font-size: 16px;
}
.call-to-action h2 {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.2;
  padding-bottom: 4px;
}

.footer {
    min-height: 70px;
    background-color: #1f2937;
    color: #f9faf8;
    align-content: center;
    text-align: center;
}